sudo: false
language: c

addons:
  apt:
    packages:
    - libgmp-dev
    - libpcre3-dev

before_install:
# stack
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
- stack --no-terminal setup

script:
- stack --no-terminal test

cache:
  directories:
  - $HOME/.stack
